<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="'here ( templ / th_xxfile.html ) -> ' + ${someInfo} + '!'"></p>

</body>
</html>